@import url("https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap");

.question {
	display: block;
	height: inherit;
	width: 100%;
	position: relative;
	background-color: #fff;
	border-radius: 12px;
	padding: 1rem;
	box-shadow: 0px 0px 5px 0.5px silver;
	overflow: hidden;

	.watermark-wrapper {
		position: absolute;
		height: 100rem;
		width: 100rem;
		top: -100%;
		left: 0%;
		right: 0%;
		bottom: 0;
		color: #edf0ff;
		font: 900 4rem "Rubik Marker Hatch", system-ui;
		overflow: hidden;
		word-spacing: 6rem;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		gap: 10rem;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
	}
}
